<!DOCTYPE html>
<html lang="en">

<%# head tags : https://www.w3schools.com/tags/tag_head.asp %>
<head>
    <title>Document</title>
    <%# here we link the css file %>
    <link rel="stylesheet" type="text/css" href="stylesheets/index.css"> 
</head>

<body>
    <div class="card">
    <button>Login</button>
    <button>Cancel</button>
    </div>
</body>
</html>