<!DOCTYPE html>
<html lang="en">

<%# head tags : https://www.w3schools.com/tags/tag_head.asp %>
<head>
  <title>Document</title>
  <%# here we link the css file %>
  <link rel="stylesheet" type="text/css" href="stylesheets/index.css">
</head>
Test landlord_dashboard
<body>
  <%# <h1>Test landlord_dashboard h1 inside the body</h1> %>
    <div class="card">
      <form method="get" action="/list_property">
      <button>List a new property</button>
      </form>
      <form method="get" action="/pending_requests">
      <button>See my pending requests</button>
      </form>
    </div>
</body>
</html>
