<!DOCTYPE html>
<html lang="en">

<%# head tags : https://www.w3schools.com/tags/tag_head.asp %>
<head>
    <title>Landlord sign in</title>
    <%# here we link the css file %>
    <%# This is bootstrap library %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="stylesheets/index.css">
</head>

<body>
    <div class="container custom-container">
      <div class="col">
        <h1 class="text-center">VyralBnB</h1>
      </div>
      <div class="row justify-content-around">
        <form method="get" action="/account/landlord">
        <%# The button style is from bootstrap https://getbootstrap.com/docs/4.4/components/buttons/ %>
          <button class="btn btn-outline-dark">Landlord Login</button> 
        </form>
        <form method="get" action="/account/renter">
          <button class="btn btn-outline-dark">Renter Login</button>
        </form>
      </div>
    </div>
</body>
</html>
