<!DOCTYPE html>
<html lang="en">

<%# head tags : https://www.w3schools.com/tags/tag_head.asp %>
<head>
    <title>VyralBnB</title>
    <%# here we link the css file %>
    <%# This is bootstrap library %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="stylesheets/index.css">
</head>

<body>
<div class="container request-container">
  <div class="col">
     <h1 class="text-center">Enquiry</h1>
      <div class="form-group" col=>
        <label for="exampleFormControlTextarea1">message</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
        <button type="button" class="btn btn-light">send</button>
      </div>
  </div>
</div>


</body>









<%# this is a button gary was working on for create listing
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">£</span>
    <span class="input-group-text">0.00</span>
  </div>
  <input type="text" class="form-control" aria-label="pound amount (with dot and two decimal places)">
</div> %> 
</html>